.h1-cliente{
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

/* Editar clientes */

.btn-editar-client{
    margin-top: 2rem;
}

/* Listagem de Clientes*/

.btn-cadastro-client{
    margin-top: 2rem;
}
