.titulo-vendas{
    text-align: center;
}

#btn-itens-vendas{
    margin-top: 2rem;
}

.btn-enviar-vendas{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.div-row-1-vendas{
    margin-top: 3rem;
}

.div-row-vendas{
    margin-top: 0.5rem;
}

.lb-cod-venda{
    margin-top: 0.6rem;
}

#codVenda{
    border: none;
    font-size: 30px;
}

#tot{
    border: none;
}

.form_vendas_listagem_Itens{
    margin-top: 5rem;
    margin-bottom: 2rem;
}

@import "~bootstrap/scss/bootstrap";
