.titulo-vendas{
    text-align: center;
}

#btn-itens-vendas{
    margin-top: 2rem;
}

.btn-enviar-vendas{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.div-row-1-vendas{
    margin-top: 3rem;
}

.div-row-vendas{
    margin-top: 0.5rem;
}

#codVenda{
    border: none;
}

@import "~bootstrap/scss/bootstrap";
