.h1-vendas{
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.a-lista-vendas{
    margin-bottom: 1rem;
}

.check-editar-venda{
    margin-left: 0.5rem;
    margin-right: 1rem;
    vertical-align: middle;
    position: relative;
}

.lb-finalizada-editar{
    margin-top: 0.3rem;
    font: 20px Lucida;
}

.check-cencelar-venda{
    margin-left: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
    position: relative;
}

.lb-cancelado-editar{
    margin-top: 0.3rem;
    font: 20px Lucida;
}

.vendas-listagem{
    margin-bottom: 2rem;
}

.titulo-vendas{
    text-align: center;
    width: 100%;
}

@media(max-width: 600px){
    .titulo-vendas{
        font-size: 2rem;
    }
}

#btn-itens-vendas{
    margin-top: 2rem;
}

.btn-vendas{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.div-row-1-vendas{
    margin-top: 3rem;
}

.div-row-vendas{
    margin-top: 0.5rem;
}

.lb-cod-venda{
    margin-top: 0.6rem;
}

#codVenda{
    border: none;
    font-size: 30px;
}

.btn-itens-editar{
    margin-top: 22rem;
}

#tot{
    border: none;
}

.form_vendas_listagem_Itens{
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.listagem-itens-vendas{
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.h3-lista-produtos{
    margin-top: 1rem;
    text-align: center;
}

.btn-modal-vendas-excluir{
    margin-left: 1rem;
}

@media (max-width: 520px)
{
    .btn-modal-vendas-excluir{
        margin-left: 0rem;
    }
}

#linha{
    width: 100%;
    border-bottom: 1px solid #000;
    margin-top: 2rem;
}

.div-lista-produtos-vendas{
    margin-bottom: 5rem;
}

.form-pagamento-vendas{
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.h3-forma-pagamento{
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}
